<div class="row">

 <div class="col-xs-6">
         <div class="row">

          <!-- 活动标题 --> 
      <div class="col-xs-3"></div>
             <div class="col-xs-6">
              <p style="font-family:楷体;font-weight:900;color:  #FF8C00;text-align:center;">
             我提供的活动
           </p>
             </div>
             <div class="col-xs-2"></div>
             <div class="col-xs-1"> <button class="btn btn-primary" ng-click="addAct()">添加新活动</button></div>
        
           
      </div>

              <div class="row">
                      <div class="row">&nbsp;</div>

            <!-- 未审核活动 --> 
            <div class="m-list clearfix">

            
                    <div class="col-xs-4" ng-repeat="item in option" class="m-column" ng-show="item.status==0">
                        <div class="abstract-list" >
                    <p id="name" style="color:#FF0000 " >未通过审核</p>
                    <p id="name" style="color:#34495e" > 活动名称：{{item.act_name}}</p>
                    <p id="provider" style="color:#34495e"> 提供商家：{{item.provider}} </p>
                    <p id="price" style="color:#34495e"> 预计消费：{{item.price}}</p>
                     <p id="location" style="color:#34495e">地点：{{item.location}}</p>
                     <p id="abstract" style="color:#34495e">简介：{{item.detail}}</p>
                </div>
                        
                  <div align="center">   
                                <bolck  ><span class="episodes" ng-click="editAct($index)">编辑</span></bolck> 
                       <bolck  ><span class="episodes" ng-click="delAct($index)">删除</span></bolck>  

            <!-- 已审核活动 --> 
            </div> 
                    </div>
                    <div class="col-xs-4" ng-repeat="item in option" class="m-column" ng-show="item.status==1">
                        <div class="abstract-list" >
                    <p id="name" style="color:#9F5F9F  " >已通过审核</p>
                    <p id="name" style="color:#87CEFF" > 活动名称：{{item.act_name}}</p>
                    <p id="provider" style="color:#87CEFF"> 提供商家：{{item.provider}} </p>
                    <p id="price" style="color:#87CEFF"> 预计消费：{{item.price}}</p>
                     <p id="location" style="color:#87CEFF">地点：{{item.location}}</p>
                     <p id="abstract" style="color:#87CEFF">简介：{{item.detail}}</p>
                </div>                       
                  <div align="center">   
                                <bolck  ><span class="episodes" ng-click="editAct($index)">编辑</span></bolck> 
                       <bolck  ><span class="episodes" ng-click="delAct($index)">删除</span></bolck>  
            </div> 
                    </div>                      
                </div>

            </div><!-- end tvlist -->
 </div>

 <div class="col-xs-6">
         <div class="row">

      <!-- 订单列表 --> 
      <div class="col-xs-3"></div>
             <div class="col-xs-6">
              <p style="font-family:楷体;font-weight:900;color:  #FF8C00;text-align:center;">
             我收到的订单
           </p>
             </div>
             <div class="col-xs-2"></div>
        
           
      </div>

              <div class="row">
                      <div class="row">&nbsp;</div>


            <!-- 未接受订单 --> 
            <div class="m-list clearfix">

            
                    <div class="col-xs-4" ng-repeat="item in order" class="m-column" ng-show="item.o_st==0" >
                        <div class="abstract-list" >
                    <p id="name" style="color:#FF0000 " >未接受订单</p>
                    <p id="name" style="color:#34495e" > 活动名称：{{item.name}}</p>
                    <p id="provider" style="color:#34495e"> 预订人：{{item.customer}} </p>
                    <p id="price" style="color:#34495e"> 预订时间：{{item.date}}</p>
                     <p id="location" style="color:#34495e">预订要求：{{item.tip}}</p>
                      <p id="location" style="color:#FE007F">管理员要求：无</p>
                </div>
                        
                  <div align="center">   
                      <bolck  ><span class="episodes" ng-click="change($index)">更改订单状态</span></bolck> 


            <!-- 已接受订单 --> 
            </div> 
                    </div>
                    <div class="col-xs-4" ng-repeat="item in order" class="m-column" ng-show="item.o_st==1" >
                        <div class="abstract-list" >
                    <p id="name" style="color:#9F5F9F " >已接受订单</p>
                    <p id="name" style="color:#87CEFF" > 活动名称：{{item.name}}</p>
                    <p id="provider" style="color:#87CEFF"> 预订人：{{item.customer}} </p>
                    <p id="price" style="color:#87CEFF"> 预订时间：{{item.date}}</p>
                     <p id="location" style="color:#87CEFF">预订要求：{{item.tip}}</p>
                      <p id="location" style="color:#FE007F">管理员要求：无</p>
                </div>
                        
                  <div align="center">   
                      <bolck  ><span class="episodes" ng-click="change($index)">更改订单状态</span></bolck> 
            </div> 
                    </div>                  
                </div>

            </div><!-- end tvlist -->
 </div>


        </div> <!-- end row -->

         

</div>

<!-- 添加活动模态框（Modal） -->
<div class="modal fade" id="addActModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog " >
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" >
               添加活动
            </h4>
         </div>
         <div class="modal-body">
           <form role="form">
             <div class="form-group">
                <label for="name">活动名称</label>
                <input type="text"  size="20" maxlength="15" class="form-control"  ng-model="tmp.act_name">
             </div>
              <div class="form-group">
                <label for="password">提供商家</label>
                <input type="text" size="20" maxlength="15" class="form-control"  ng-model="tmp.provider">
             </div>
                    <div class="form-group">
                <label for="password">地点</label>
                <input type="text" size="20" maxlength="15" class="form-control"  ng-model="tmp.location">
             </div>
                               <div class="form-group">
                <label for="password">简介</label>
                <input type="text" size="20" maxlength="15" class="form-control"  ng-model="tmp.detail">
             </div>
          </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" ng-click="saveAct(tmp)">
               保存
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>


<!-- 编辑活动模态框（Modal） -->
<div class="modal fade" id="editActModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog " >
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" >
               编辑活动
            </h4>
         </div>
         <div class="modal-body">
           <form role="form">
             <div class="form-group">
                <label for="name">活动名称</label>
                <input type="text"  size="20" maxlength="15" class="form-control"  ng-model="select.act_name">
             </div>
              <div class="form-group">
                <label for="password">提供商家</label>
                <input type="text" size="20" maxlength="15" class="form-control"  ng-model="select.provider">
             </div>
                    <div class="form-group">
                <label for="password">地点</label>
                <input type="text" size="20" maxlength="15" class="form-control"  ng-model="select.location">
             </div>
                               <div class="form-group">
                <label for="password">简介</label>
                <input type="text" size="20" maxlength="15" class="form-control"  ng-model="select.detail">
             </div>
          </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary" ng-click="saveEdit(select)">
               保存
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>